/* Variable for desktop css */
$desktop-larger: desktop-larger;

$global-fontSize: 3rem;
$global-margin: 10rem;
$global-padding: 4rem;

$blue-primary: #394A84;
$blue-dark: #194769;
$blue-secundary: #5B6AA0;
$white-secundary: #E3E3E3;