.l-header {
    text-align: center;
    & h1 {
        font-size: $global-fontSize / 1.20;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: bolder;
        color: $blue-primary;
        padding: 15px $global-padding;
    }

    & p {
        font-size: $global-fontSize / 2.5;
        color: #5B6AA0;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: lighter;
        max-width: 40ch;
        margin: 0 auto;
        padding: 0 30px;
    }
}